{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>すがの競馬展開予想</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">すが<span class='small'>の</span>展開予想</h1>
      <p class="lead"><span class='small'>
      今週に行われるレースの展開を予想します。<br>
      毎週金曜日更新</small></p>
      <a href='{% url "keiba_forecasts:index" %}'>TOP</a>
      <a href='{% url "keiba_forecasts:about" %}'>使い方</a>
      <a href='{% url "keiba_forecasts:blogs" %}'>ブログ</a>
      <p>今週のレース情報はこちらから→<a href='https://www.jra.go.jp/'>JRA公式HP</a></p>
      <hr class="my-4">
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
  </body>
</html>