{% extends 'keiba_forecasts/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <form method="POST" class="post-form">{% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
      <div class="offset-md-3 col-md-9">
        <button type="submit" class="btn btn-success">予想する</button>
      </div>
    </div>
  </form>
  <p>{{year}}年 {{place}} {{num}}回 {{day}}日目 {{race}}R</p>
  <img src={{src}} />
{% endblock content %}