{% extends 'keiba_forecasts/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <div class='leads'>
    <p class="lead"><span class='small'>
    今週に行われるレースの展開を予想します。<br>
    <p>今週の開催情報はこちらから→<a class='jra-link' href='https://www.jra.go.jp/'>JRA公式HP</a></p>
  </div>
  <form method="POST" class="mb-3">{% csrf_token %}
    {% bootstrap_form form %}
    <div >
        <button type="submit" class="btn btn-success">予想する</button>
    </div>
  </form>
  <p>{{ info }}</p>
  <img src={{src}} / class="img-fluid" alt="Responsive image">
{% endblock content %}