body {
    background: linear-gradient(-135deg, #d3c1a0, #856221 ) fixed;
    background-size: cover; 
}



.leads {
    color: rgb(0, 0, 0);
}


.jra-link {
    text-shadow:
    1px  1px 1px white ,
    -1px  1px 1px white ,
     1px -1px 1px white ,
    -1px -1px 1px white;
}


nav {
    background: linear-gradient(-135deg, #d3c1a0, #856221 ) fixed;
    
}


.navbar-brand {
    text-shadow:
    1px  1px 1px white ,
    -1px  1px 1px white ,
     1px -1px 1px white ,
    -1px -1px 1px white;
    font-family: "けいふぉんと";
}

h2 {
    font-size:medium;
}

h3 {
    font-size:medium;
}

.b_date {
    font-size: small;
}


ul {
    list-style: none;
  }


.comment {
    margin:1em;
    padding:0.5em!important;
    }


.comment_name {
    font-size: 0.9em;
    color: rgb(15, 151, 38);
}
.comment_date {
    font-size: 0.7em;
    color: rgb(46, 201, 71);
}
.comment_text {
    font-size: 1em;
}